.header {
    height: 30px;
    min-width: max-content;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    font-size: 36px;
    padding: 20px 15px;
    background-color: #003262;
    font-family: 'Abhaya Libre', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.header a {
    text-decoration: none;
    color: #FDB515;
}

.website-title {
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
}

.navigation-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-left: 30px;
}

.navigation-options div {
    cursor: pointer;
}